*{
	margin:0;
	padding: 0;
	list-style: none;
	font-style: normal;
	font-weight: 100;
}
body,ul,li,p,h1,h2,h3,h4,h5,h6,figure,em,i{
    margin:0;
    padding:0;
    font-style: normal;
}
body{
	width: 100%;
	height: auto;
}
a{
    text-decoration: none;
}
img{
    border: 0;
    display: block;
}
.logo{
	width: 100%;
	display: flex;
    justify-content: center;
    align-items: center;
}
.logo1{
	height: 90px;
}
.logo>img{
	width: 295px;
	height: 63px;
}
nav{
	width: 100%;
	height: 50px;
	background: #462327;
}
.con{
	width: 1200px;
	height: 100%;
	margin:0 auto;
}
.daohang{
	padding: 0 140px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
    align-items: center;
}
.daohang a{
	display: block;
	height: 100%;
	padding: 0 10px;
	color: #D78757;
	line-height: 50px;
}
.daohang a span{
	display: inline-block;
	width: 5px;
	height: 5px;
	border-radius: 50%;
	background: #D78757;
	vertical-align: middle;
	margin-right: 2px;
	opacity: 0;
}
.daohang>a:nth-child(5),.daohang>a:nth-child(5) span{
	color: #E8C2A9;
	opacity: 1;
}
.daohang a:hover span{
	opacity: 1;
}
.daohang a:hover{
	color: #E8C2A9;
}
.fenye{
	height: 130px;
	margin:25px auto;
	background: url('../img/fenye.png') 100% 100%;
	display: flex;
	justify-content: center;
    flex-direction:column;
    align-items:center;
    color: #fff;
}
.fenye .bt{
	width: 120px;
	height: 48px;
}
.fenye h1{
	font-size: 28px;
	font-family: "仿宋";
}
.fenye h2{
	margin: 10px 0;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing:1px;
}
.logoin{
	margin: 45px auto;
	height: 32px;
	display: flex;
    align-items: center;
}
.logoin img,.logoin span{
	margin-left: 5px;
}
.logoin span{
	color: #999;
}
.logoin span:last-of-type{
	color: #462327;
}
.logoin img{
	width: 32px;
	height: 32px;
}
.logoin .jiantou{
	width: 6px;
	height: 11px;
	margin: 0 10px 0 15px;
}
.logoin span{
	font-size: 16px;
}
.logo2{
	height: 88px;
}
.logo2>img{
	width: 330px;
	height: 90px;
}
.bottom{
	margin-top: 45px;
	width: 100%;
	height: 320px;
	position: relative;
	background: url('../img/bottom.png') center center no-repeat;
}
.bottom1{
	width: 68px;
	height: 68px;
	background: url('../img/bottom1.png') center center no-repeat;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 10px;
}
.bott{
	height: 100%;
}
.bott .lianxi{
	width: 390px;
	height: 60px;
	margin: 100px auto;
	margin-bottom: 50px;
	display: flex;
	justify-content: space-around;
    align-items: center;
}
.bott .lianxi a{
	display: block;
	width: 33.3%;
	height: 100%;
	float: left;
}
.bott .lianxi a>span{
	margin:0 auto;
	display: block;
	width: 33px;
	height: 33px;
	background: #fff;
	border-radius: 50%;
	text-align: center;
}
.bott .lianxi a>span>i{
	display: inline-block;
	line-height: 33px;
	font-size: 20px;
	color: #9A764F;
}
.bott .lianxi a>h6{
	color: #fff;
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
}
.bott>h1{
	font-size: 16px;
	color: #fff;
	text-align: center;
}
.bott>h1:last-child{
	margin-top: 15px;
}